* {
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    background: url("../images/bg1.jpg") 50% 0;
    background-size: cover;
    font-family: 'Abril Fatface', cursive;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

    
}

.navbar-nav {
    font-weight: 900;
    font-family: 'Abril Fatface', cursive;

    li a {
        color: aliceblue !important;
        margin-right: 20px;
    }

    li a:hover {
        color: rgb(99, 139, 73) !important;
        transition: 500ms;
    }

    li {
        color: aliceblue !important;
        margin-right: 20px;
    }

}


#caption_footer{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.first_section{

    
    #slika1{
        display: block;
        width: 50%;
        margin-left: auto;
        margin-right: auto;

        
    }

#naslov{
    font-family: 'Abril Fatface', cursive;
     color: white;
    size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    padding-block: initial;
    letter-spacing: 2px;
    font-size: 40px;
}
}