* {
  margin: 0;
  padding: 0;
}

hr {
  background-color: aliceblue;
}

#text {
  padding-top: 2%;
  color: aliceblue;
  letter-spacing: 0.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

body {
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  background: url("../images/bg1.jpg") 50% 0;
  background-size: cover;
  font-family: 'Abril Fatface', cursive;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.navbar-nav {
  font-weight: 900;
  font-family: 'Abril Fatface', cursive;
}

.navbar-nav li a {
  color: aliceblue !important;
  margin-right: 20px;
}

.navbar-nav li a:hover {
  color: #638b49 !important;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.navbar-nav li {
  color: aliceblue !important;
  margin-right: 20px;
}

#caption_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.first_section #slika1 {
  display: block;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}

.first_section #naslov {
  font-family: 'Abril Fatface', cursive;
  color: white;
  size: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 15%;
  letter-spacing: 2px;
  font-size: 60px;
}

.first_section #opis {
  opacity: 0;
  color: #dadada;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.second_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.second_section #pkr {
  opacity: 0;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.second_section p {
  color: #dadada;
  letter-spacing: 0.5px;
}

.second_section h1 {
  margin-top: 2%;
  color: #dadada;
  text-decoration: underline;
}

.third_section {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.third_section p {
  color: #dadada;
  letter-spacing: 0.5px;
}

.third_section #tkr {
  opacity: 0;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.third_section h1 {
  margin-top: 1%;
  color: #dadada;
  text-decoration: underline;
}

.fourth_section #logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fourth_section #logo_description {
  opacity: 0;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #dadada;
}
/*# sourceMappingURL=about.css.map */