*{
  margin: 0;
  padding: 0;
}

.section-for-video{
  background: rgba(0, 0, 0, 0.4);
  height: 100vh;
  overflow-x: hidden;
}

.video-background{
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  overflow-x: hidden;
}

.navbar-nav{
  font-weight: 900;
}

.navbar-nav li a{
  color: aliceblue !important;
  margin-right: 20px;
}

.navbar-nav li a:hover{
  color: darksalmon !important;
  transition: 500ms;
}

.navbar-nav li {
  color: aliceblue !important;
  margin-right: 20px;
}

