* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background: url("../images/bg1.jpg") 50% 0;
  background-repeat: repeat;
  background-size: cover;
  font-family: 'Abril Fatface', cursive;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
}

.section-for-video {
  background: rgba(0, 0, 0, 0.4);
  height: 100vh;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-for-video .video-background {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  overflow-x: hidden;
}

.section-for-video .logo_mk_kr {
  opacity: 0.4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-nav {
  font-weight: 900;
  font-family: 'Abril Fatface', cursive;
}

.navbar-nav li a {
  color: aliceblue !important;
  margin-right: 20px;
}

.navbar-nav li a:hover {
  color: #638b49 !important;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.navbar-nav li {
  color: aliceblue !important;
  margin-right: 20px;
}

.section_content1, .section_content2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-family: 'Abril Fatface', cursive;
  min-height: 600px;
}

.section_content1 h1, .section_content2 h1 {
  color: white !important;
  letter-spacing: 5px;
  text-shadow: 10px 10px 10px #202020;
}

.bg1, .section_content1 {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-image: url("../images/slika1.jpg");
}

.bg2, .section_content2 {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-image: url("../images/slika4.jpg");
}

#div_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-family: 'Abril Fatface', cursive;
  min-height: 200px;
  margin-top: 2,5 rem;
  padding-top: 2rem;
  letter-spacing: 8px;
  padding: 50px;
}

#div_content p {
  margin-top: 1.5rem;
  color: white;
  font-size: 16px;
}

#caption_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
/*# sourceMappingURL=index.css.map */