* {
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    box-sizing: border-box;
    background: url("../images/bg1.jpg") 50% 0;
    background-repeat: repeat;
    background-size: cover;
    font-family: 'Abril Fatface', cursive;
    height: 100%;
    background-attachment: fixed;
    background-position: center;

    
}

.section-for-video {
    background: rgba(0, 0, 0, 0.4);
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    .video-background {
        position: absolute;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -1;
        overflow-x: hidden;
    }

    .logo_mk_kr{
        opacity: 0.4;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}



.navbar-nav {
    font-weight: 900;
    font-family: 'Abril Fatface', cursive;

    li a {
        color: aliceblue !important;
        margin-right: 20px;
    }

    li a:hover {
        color: rgb(99, 139, 73) !important;
        transition: 500ms;
    }

    li {
        color: aliceblue !important;
        margin-right: 20px;
    }

}

.section_content1, .section_content2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    min-height: 600px;
    h1{
        color: rgb(255, 255, 255) !important;
        letter-spacing: 5px;
        text-shadow: 10px 10px 10px rgb(32, 32, 32);
    } 
}

.section_content1{
    @extend .bg1;
}

.section_content2{
    @extend .bg2;
}

.bg1{
    filter: grayscale(100%);
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-image: url("../images/slika1.jpg");
}

.bg2{
    filter: grayscale(100%);
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-image: url("../images/slika4.jpg");
}

#div_content{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    min-height: 200px;
    margin-top: 2,5 rem;
    padding-top: 2rem;
    letter-spacing: 8px;
    padding: 50px;

    p{
        margin-top: 1.5rem;
        color: rgb(255, 255, 255);
        font-size: 16px;
    }
}

#caption_footer{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}