* {
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    background: url("../images/bg1.jpg") 50% 0;
    background-repeat: repeat;
    background-size: cover;
    font-family: 'Abril Fatface', cursive;
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

    
}

.section-for-video {
    background: rgba(0, 0, 0, 0.4);
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    .video-background {
        position: absolute;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -1;
        overflow-x: hidden;
    }

    .logo_mk_kr{
        opacity: 0.4;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}



.navbar-nav {
    font-weight: 900;
    font-family: 'Abril Fatface', cursive;

    li a {
        color: aliceblue !important;
        margin-right: 20px;
    }

    li a:hover {
        color: darksalmon !important;
        transition: 500ms;
    }

    li {
        color: aliceblue !important;
        margin-right: 20px;
    }

}

.section_content1{
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Abril Fatface', cursive;

    h1{
        color: rgb(255, 255, 255);
        margin-top: 8rem;
    }
    
    p{
        margin-top: 1.5rem;
        color: rgb(255, 255, 255);
        font-size: 16px;
    }

    #sece3nd_of_content{
        margin-top: 2,5 rem;
        padding-top: 2rem;
    }
}


